Package: ca.brennanleblanc.paintstrokes
Name: Paint Strokes
Version: 0.0.1
Architecture: iphoneos-arm
Description: Paint Strokes - An Open Source iOS/iPadOS Theme
Author: Brennan LeBlanc et al. <me@brennanleblanc.ca>
Maintainer: Brennan LeBlanc et al. <me@brennanleblanc.ca>
Section: Themes
